
    <div class="row topNav" style="background-color: #b8d1bc">
    </div>
        <img src="content/CatVector.jpg" class="img-fluid picture_container picture_position" alt="Responsive image">

<h1 class="title">FundMeow</h1>
<div class="container">
    <div class="row text-left">
        <div class="col-lg"><h2 class="welcomeHeader" style="text-decoration: underline">Welcome</h2></div>
    </div>
</div>
<section id="photos">
    <img src="content/labrador-retriever-dog-pictures-8.jpg" alt="Responsive image">
    <img src="content/Screen_Shot_2016-10-04_at_11.16.03_AM_large.png" alt="Responsive image">
    <img src="content/Husky-Wallpapers.jpg" alt="Responsive image">
    <img src="content/cat.jpg" alt="Responsive image">
    <img src="content/Bunny.jpg" alt="Responsive image">
    <img src="content/dog.jpg" alt="Responsive image">
    <img src="content/dog-shelter.jpg" alt="Responsive image">
    <img src="content/adoptable-dogs-your-local-shelter.jpg" alt="Responsive image">
    <img src="content/600px-meowing-cat.jpg" alt = "Responsive image">
</section>
<!--<div class="container">-->
    <!--<div class="textField">Donate <br> Today...</div>-->
<!--</div>-->
<div class="box lead">"A place to make your mark on a animals life today. Give charity to suffering animals and shelters who need the help.
    Animals need the love we can give. Go FundMeow."</div>
