
<!--Added styles to the header-->
<div class="row topNav2" style="background-color: #b8d1bc">
</div>

<!--Header Logo-->
<img src="content/CatVector.jpg" class="img-fluid picture_container2 picture_position2" alt="Responsive image">

<!--Header Title-->
<a href="/"><h1 class="title2">FundMeow</h1></a>
<h1 class="petsTitle">Pets</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default"  ng-repeat="userPet in pet">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Panel Default</h3>
                </div>
                <ul class="list-group">
                    <li href="#" class="list-group-item">Cras justo odio</li>
                    <li href="#" class="list-group-item">Morbi leo risus</li>
                    <li href="#" class="list-group-item">Porta ac consectetur ac</li>
                    <li href="#" class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>




<!--Table-->
<div class="container tableFlow">
    <div ng-repeat="pet in pets">
        <table class="table table-responsive" ng-repeat="userPet in pet">
            <tr>
                <td class="">
                    <img src="data:image/png;base64,{{pet.img}}" class="img-fluid image_container image_position" alt="Responsive image"></td>

                <div class="container">
                <td class=""><span class="petName">{{userPet.name}}</span>
                    <div class="panel panel-default infoContainer"><span class="panel-body petInfo text-info infoPosition">{{userPet.info}}</span></div></td>
                </div>
                <td class=""><a href="/user/{{pet._id}}/user_profile">
                        <button type="button" class="btnClass3" ng-click="profile(pet._id);">Donate</button></a></td>
            </tr>
        </table>
        </div>
    </div>
</div>