
<md-content class="md-padding">

    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center center" ng-class="{error: isError, success: isPaid}">

        <span><p ng-bind="message"></p></span>

        <div class="dropin-container" ng-show="showDropinContainer">

            <form name="payment">
                <md-input-container>
                    <label>Amount (XX.XX)</label>
                    <input type="number" ng-model="amount"/>
                </md-input-container>

                <!-- Add Dropin here -->
                <div id="checkout"></div>

                <md-button class="md-raised md-primary" type="submit">Pay Now</md-button>
            </form>
        </div>

    </md-whiteframe>

</md-content>

<script src="https://js.braintreegateway.com/js/braintree-2.32.0.min.js"></script>