
<div class="row topNav" style="background-color: #b8d1bc">
</div>
<img src="content/CatVector.jpg" class="img-fluid picture_container picture_position" alt="Responsive image">

<h1 class="title">FundMeow</h1>

<!-- IMAGE UPLOAD STUFF (BROKEN)
<div ng-app="fundMeow" ng-controller="userCtrl">

<form name="Profile Picture">
    <div>Crop Image and Upload</div>
    <button ngf-select ng-model="picFile" accept="image/*">
        Select Picture</button>
    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
        <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
        </img-crop>
    </div>
    <div>
        <img ng-src="{{croppedDataUrl}}" />
    </div>
    <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>

    <span class="progress" ng-show="progress >= 0">
        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
    </span>
    <span ng-show="result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</form>
</div>
-->

<div class="container">
    <div class="row rowPosition">
        <div class="detailsPosition">
            <div class="panel panel-default" style="max-width: 600px;">
                <div class="userName panel-heading text-center">{{user.user.firstName}}&nbsp;{{user.user.lastName}}</div>
                <div class="userBullets panel-body text-center">
                    <div class="row"><img src="data:image/png;base64,{{img}}" class="img-fluid profile_image_container
                    profile_image_position userImage" alt="user image"></div>
                    &#10022; &nbsp; Age: {{user.user.age}}<br>
                    &#10022; &nbsp; Location: {{user.user.location}}
                    <div>&#10022;&nbsp;&nbsp;{{user.user.email}}</div>
                    <div>&#10022;  {{user.user.phoneNumber}}</div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="userPetTitle">Pets</div>
        <div class="row userContainer userInfo">
            <table class="table table-responsive" style="border-top: 0 !important;" ng-repeat="pet in pets">
                <tr><td class="text-left"><span style="font-size: 36px; font-weight: bold;
                text-shadow: 5px 5px 5px #63635e; color: #ff828c">{{pet.name}}</span></td>
                    <td class="text-center"><p style="margin-top: 10px;">{{pet.info}}</p></td></tr>
                <tr><td class="text-left"><p><span style="font-weight: bolder; font-size: 24px;">Funds:</span>&nbsp;&nbsp;&nbsp<span style="font-weight: 300; font-size: 18px;">{{pet.funds}}</span></p></td>
                    <td class="text-center"><a href="/user/{{user.user._id}}/pet_donate/{{pet._id}}"><button type="button" class="btnClass4" ng-click="">Donate</button></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
