
.topNav2 {
    visibility: hidden;
}

.picture_container2{
    max-width: 100px;
    border-radius: 60px;
    border: 2px solid ghostwhite;
}
.picture_position2{
    position: absolute;
    left: 25px;
    top: 6px;
    width: 60px;
    height: 60px;
}

.title2{
    position:absolute;
    left: 7%;
    top:0;
    font-size: 300%; z-index: 1;
    font-family:signPainter, "Great Vibes", cursive;
    color: #4A4A4A;
}
.petsTitle{
    position:absolute;
    left: 38%;
    top:0;
    font-size: 600%; z-index: 1;
    font-family: "Avenir Next",'Vollkorn','Palanquin Dark',sans-serif,serif;
    color: #4A4A4A;
    font-weight: bold;
}

.petName{
    font-size: 400%;
    font-family: 'Vollkorn',"Avenir Next",'Palanquin Dark',serif;
    font-style: italic;
    max-width: 60px;

}
.petInfo{

    font-family: "Avenir Next",'Vollkorn','Palanquin Dark',sans-serif,serif;
    font-size: 12px;
}
/*** Buttons ***/
.btnClass3{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: #4A4A4A;
    font-size: 36px;
    font-family: "Avenir Next",'Palanquin Dark',sans-serif, serif;
    background-color: #C9D8E9;
    border: 1px solid #3c3c3c;
    margin-top: 100px;
}
.btnClass3:hover{
    background-color: #8390a1;
}
.image_container{
    max-width: 300px;
    border-radius: 100px;
    border: 2px solid ghostwhite;
}
.image_position{
    width: 200px;
    height: 200px;
    z-index:100;
    margin-top: 50px;
}
@media (max-width: 1000px) and (min-width: 600px){

    .petsTitle{
        font-size: 500%;
        left: 35%;
    }
    .title2{
        visibility: hidden;
    }
}
@media (max-width: 800px) and (min-width: 600px){

    .petsTitle{
        top: -13px;
        font-size: 500%;
        left: 13%;
    }
    .title2{
        visibility: hidden;
    }
}
@media (max-width: 600px) and (min-width: 375px){

    .petsTitle{
        top: -10px;
        font-size: 400%;
        left: 38%;
    }
    .picture_container2{
        max-width: 60px;
        height: 60px;
    }
    .picture_position2{
        left: 20%;
    }
    .title2{
        visibility: hidden;
    }
    .topNav2{
        width: 104%;
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: visible;color: #b8d1bc;
    }
    .image_position{
        width: 100px;
        height: 100px;
    }
    .petName{
        font-size: 200%;
    }
    .btnClass3{
        margin-top: 70px;
        width:75px;
        height: 30px;
        font-size: 12px;
    }
}
.tableFlow{
    overflow: auto;
    height: 500px;
    margin-top: 50px;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.text{
    margin-left: 240px;
}.infoPosition{
     margin-right: 200px;
     margin-left: 200px;
 }
.infoContainer{
    max-width: 500px; max-height: 150px;
    padding: 10px 10px 10px 10px;
    overflow:auto
}
@media (max-width: 600px) and (min-width: 375px) {
    .infoPosition{
        margin-right: 50px;
        margin-left: 50px;
        overflow: auto;
    }
    .infoContainer{
    }
    .tableFlow{
        margin-right: 20px;
    }

}