/*** Main Css Styles ***/

/********* Nav Bar ***************/
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.picture_container {
    max-width: 100px;
    border-radius: 60px;
    border: 2px solid ghostwhite;
}
.picture_position{
    position: relative;
    left: 31%;
    top: 10px;
    width: 100%;
    height: 100%;
    z-index:100;
}

.title{
    position:absolute;
    left: 39%;
    top:0;
    font-size: 500%;
    z-index: 1;
    font-family: "Great Vibes", cursive;
    color: #4A4A4A;
}
.topNav {
    position: absolute;
    width: 80%;
    height: 100px;
    left: 0%;
}

/*Desktop Media Query
FROM: https://css-tricks.com/seamless-responsive-photo-grid/
*/
@media (max-width: 1800px) and (min-width: 1250px){

    .title{
        top: 10px;
        font-size: 500%;
    }
    .picture_container{
        top: 10px;
        max-width: 100px;
        height: 100px;
    }
}
@media (max-width: 1250px) and (min-width: 900px){

    .title{
    top: 10px;
    font-size: 400%;
    }
    .picture_container{
        top: 10px;
        max-width: 100px;
        height: 100px;
    }
}
@media (max-width: 1000px) and (min-width: 600px){

    .title{
        top: -10px;
        font-size: 400%;
        left: 10%;
    }
    .picture_container{
        top:6px;
        max-width: 60px;
        height: 60px;
        left: 3%;
    }

}

@media (max-width: 600px) and (min-width: 200px){
    .picture_container{
        max-width: 60px;
        height: 60px;
    }
    .picture_position{
        left: 7%;
        top: 8%;
    }
    .topNav{
        width: 120%;
    }
    .title{
        left: 28%;
        font-size: 300%;
        top: -17px;
    }
    .welcomeHeader{
        position: relative;
        left: 11%;
        top: 20%;
    }

}
/************************************************************/

/*** index.html Body ***/
.welcomeHeader{
    font-family: 'Great Vibes',cursive;
    font-size: 500%;
    font-weight: bold;
    color: #4A4A4A;
    z-index: -1;
}
#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    opacity: 0.6;
}

#photos img:hover{

   opacity: 1;

}
@media (max-width: 1600px) {
    #photos {
        -moz-column-count:    5;
        -webkit-column-count: 5;
        column-count:         5;
    }
}
@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 600px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
/*
.collage1{
    background-image: url(../content/Husky-Wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    width: 100%;
    position: relative;
    top: 30%;
    left:0;
    opacity: 0.48;
}
.collage2{
    height:331px;
    width: 30.2%;
    position: relative;
    top: 64.8%;
    left:0;
    opacity: 1;
}
.collage3{
    height:583px;
    width: 70%;
    position: relative;
    top: 30%;
    left:30.2%;
    opacity:0.6;
}
*/
.textField{
    font-family: Signpainter, 'Great Vibes',cursive;
    font-size: 72px;
    position: relative;
    top: 30%;
    opacity: 0.5;
    color: #4A4A4A;
    left: 31%;
}
br{
   line-height: 20px;
}

/*Mobile Media Query*/
/*
@media (max-width: 600px) and (min-width: 375px){
    .collage1{
        height: 130px;
        top: 40%;
        z-index: -1;
    }
    .collage2{
        height:135px;
        max-width: 150px;
        top: 57.9%;
        z-index: -1;
    }
    .collage3{
        height: 265px;
        left: 30.1%;
        top: 40%;
        z-index: -2;
    }
    .textField{
        font-size: 32px;
        top: 40%;
        z-index: -1;
        left: 32%;
    }

}
*/
/************************************************************/

/*** Buttons ***/

.btnClass{
    position: relative;
    top: 120%;
    left: 70%;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    color: #4A4A4A;
    font-size: 48px;
    font-weight: bolder;
    font-family: "Avenir Next", serif;
    background-color: #C9D8E9;
    border: 4px solid #7e96bc;
    margin-bottom: 50px;
}
.btnClass:hover{
    background-color: #8390a1;
    border: 4px solid #C9D8E9;
}
.btnClass2{
    position: relative;
    top: 120%;
    left: 10%;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    color: #4A4A4A;
    font-size: 48px;
    font-weight: bolder;
    font-family: "Avenir Next", serif;
    background-color: #C9D8E9;
    border: 4px solid #7e96bc;
    margin-bottom: 50px;
}
.btnClass2:hover{
    background-color: #8390a1;
    border: 4px solid #C9D8E9;
}

.box{
    position: relative;
    margin-left: 2%;
    top: 115%;
    max-width: 350px;
    font-size: 24px;
    font-family: "Avenir Next", serif;
    font-weight: bold;
    color: #4A4A4A;
}
@media (max-width: 600px) and (min-width: 150px) {
    .box{
        top: 82%;
        margin-left: 35px;
    }
    .welcomeHeader{
        font-size: 400%;
    }
    .btnClass{
        left: 0%;
        width: 150px;
        height: 70px;
        top: 100%;
        font-size: 24px;
    }
    .btnClass2{
        left: 60%;
        width: 150px;
        height: 70px;
        top: 100%;
        font-size: 24px;
    }

}
@media (max-width: 900px) and (min-width: 600px){
    .btnClass{
        width: 150px;
        height: 70px;
        top: 120%;
        font-size: 24px;
        left: 10%;
    }
    .btnClass2{
        width: 150px;
        height: 70px;
        top: 120%;
        font-size: 24px;
        left: 50%;
    }

}

/***********

Pets.Html
 */

.picture_container2 {
    max-width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid ghostwhite;
    background-image: url(../content/CatVector.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture_position2{
    position: absolute;
    left: 3%;
    top: 6px;
    width: 100%;
    z-index:100;
}
.title2{
    position:absolute;
    left: 7%;
    top:0;
    font-size: 300%; z-index: 1;
    font-family:signPainter,cursive;
    color: #4A4A4A;
}
.petsTitle{
    position:relative;
    left: 40%;
    top:-10px;
    font-size: 600%; z-index: 1;
    font-family: "Avenir Next", sans-serif;
    color: #4A4A4A;
    font-weight: bold;
}

