
.profile_image_container{
    max-width: 300px;
    border-radius: 200px;
    border: 2px solid ghostwhite;
}
.profile_image_position{
    left: 2%;
    top: 30%;
    width: 200px;
    height: 200px;
    z-index:100;
}
.userName{
    font-family: "Kozuka Mincho Pro",'Palanquin Dark', sans-serif, serif;
    font-size: 64px;
    color: #4A4A4A;
    left: 10%;
    font-weight: 400;
    text-overflow: ellipsis;
}
.userPetTitle{
    position: absolute;
    left: 65%;
    top: 20%;
    font-size: 84px;
    font-family: "Minion Pro",'Palanquin Dark', sans-serif, serif;
    font-weight: bolder;
}
.rowPosition{
    position: absolute;
    left: 5%;
    top: 18%;

}
.detailsPosition{

    position: absolute;
    left: 4%;
    top: 35%;
    width: 500px;

}
.userDetails{
    font-family: 'Arial','Palanquin Dark', sans-serif, serif;
    font-size: 24px;
    color: #4A4A4A;
    font-style: italic;

}
.userBullets{
    font-family: 'Arial','Palanquin Dark', sans-serif, serif;
    font-size: 24px;
    color: #4A4A4A;
}
.userInfo{

    padding-top: 40px;
    font-family: "Avenir Next",'Palanquin Dark', sans-serif, serif;
    color: #4A4A4A;
    font-size: 18px;
    /*margin-right: 50px;*/
}
.userContainer{
    position: absolute;
    left: 50%;
    top: 38%;
    height: 200px;
    width: 600px;
    overflow: auto;
    box-shadow: 1px 2px 2px 3px #72676c;
    background-color: white;
    /*border-top: 2px solid black;*/
}

.btnClass4{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: #4A4A4A;
    font-size: 24px;
    font-family: "Avenir Next",'Palanquin Dark',sans-serif, serif;
    background-color: #C9D8E9;
    border: 1px solid #3c3c3c;
}
